<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Posts</title>
  <link rel="stylesheet" href="../styles/posts.css">
</head>
<body>
    <div class="container">
        <h2>User Posts</h2>
        <button id="bulkAddButton" >Bulk Add</button>
        <button id="downloadExcelButton" >Download in Excel</button>
        <div id="userPostsContainer" class="posts"></div>
        
    </div>
    
    <script src="../scripts/post.js"></script>
</body>
</html>
